<p>
  <%= flash[:notice] %>
</p>
<table>
<% for synthesizer in @synthesizers %>
  <tr>
    <td><%= link_to synthesizer.title, synthesizer_path(synthesizer.id) %></td>
    <td><%=h synthesizer.description %></td>
  </tr>
<% end %>
</table>
<p><%= link_to "Nieuwe Synthesizer", new_synthesizer_path %></p>