<p>
  <%= flash[:notice] %>
</p>
<% for synthesizer in @synthesizers %>
  <p><%=h synthesizer.title %></p>
  <p><%=h synthesizer.description %></p>
<% end %>
<p><%= link_to "Nieuwe Synthesizer", new_synthesizer_path %></p>